body {
  background-color: $color-white-smoke;
  color: $color-main;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

// handle when menu open on mobile
.is-nav-opened {
  overflow-y: hidden;
}

.image {
  width: 100%;
}

.image--inherit {
  max-height: inherit;
}
