// white scale
$color-white: #fff;
$color-white-smoke: #f8f8f8;

// black scale
$color-black: #000;

// gray scale
$color-main: #333;
$color-gray: #ddd;
$color-light-gray: #eee;
$color-darken-gray: #aaa;
$color-snow: #f9f9f9;
$color-dim-gray: #666;
$color-gainsboro: #888;
$color-silver: #bbb;
$color-nobel: #999;
$color-wild-sand: #f6f6f6;
$color-lightest-gray: #ccc;

// yellow scale
$color-tangerine: #ef8100;
$color-light-yellow: #f29a32;
$color-lightest-yellow: #f7c07f;
$color-pastel-yellow: #fdecd9;
$color-linen: #f8f0e5;

// blue scale
$color-blue: #234;
$color-polo-blue: #334353;
$color-navy-blue: #1057a8;
$color-pacific-blue: #09c;
$color-darken-blue: #0f58a8;

// green scale
$color-caribbean-green: #00cc9d;

// red scale
$color-red: #ef0000;
$color-tutu: #fde5e5;
